@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

.main {
    width: 100%;
    margin: 15px;
}

.title {
    font-family: 'Permanent Marker', cursive;
}

.title > a:link {
    text-decoration: none;
    color: #8333FF;
}

.title > a:hover {
    cursor: pointer;
}

.title > a:visited {
    color: #8333FF;
}

.p-banner {
    font-family: 'Roboto', sans-serif;
    margin: 5px;
}

.welcome-banner {
    margin-bottom: 10px;
    background-color: #63BAAB;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.welcome-banner-bottom {
    width: 100%;
    height: 350px;
    display: flex;
    flex-wrap: wrap;
}

.half-circle {
    background: #8333FF;
    border-radius: 0 0 400px 400px;
    width: 100%;
}

/*responsive*/
@media(max-width: 370px) {
    .title {
        font-size: 2.2em;
    }
}

