.project-box{
    cursor: pointer;
    margin: 10px;
    padding: 32px;
    width: 100%;
    max-width: 550px;
    min-height: 150px; 
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 9px;
    -webkit-box-shadow: 0 2px 4px 0 rgb(51,51,51, 0.2);
    box-shadow: 0 2px 4px 0 rgb(51,51,51, 0.2);
    transition: 0.3s;
    text-align: left;
}

.gradient-purple-orange {
    background: rgb(255, 255, 255) linear-gradient(to right top, #8333FF, rgb(255, 116, 61)) repeat scroll 0% 0%;
}

.gradient-purple-green {
    background: rgb(255, 255, 255) linear-gradient(to right top, #8333FF, #63BAAB) repeat scroll 0% 0%;
}

.gradient-orange-green {
    background: rgb(255, 255, 255) linear-gradient(to right top, rgb(255, 116, 61), #63BAAB) repeat scroll 0% 0%;
}

.gradient-yellow-purple {
    background: rgb(255, 255, 255) linear-gradient(to right top, rgb(252, 228, 12), #8333FF) repeat scroll 0% 0%; 
}

.gradient-green-pink {
    background: rgb(255, 255, 255) linear-gradient(to right top, #63BAAB, rgb(180, 70, 88)) repeat scroll 0% 0%; 
}

.gradient-pink-yellow {
    background: rgb(255, 255, 255) linear-gradient(to right top, rgb(180, 70, 88), rgb(252, 228, 12)) repeat scroll 0% 0%; 
}

.project-box:hover{
    box-shadow: 0 4px 8px 0 rgb(51,51,51, 0.2);
}

.project-description{
    width: 100%;
    line-height: 1.5em;
}

.project-link {
    text-decoration: none;
    color: white;
}

.project-link:hover .project-title{
    text-decoration: underline;
}

.project-link:visited {
    text-decoration: none;
    color: white;
}

@media(min-width: 1025px) {
    .project-box{
        margin: 10px;
        width: 300px;
    }
}
