.about-me {
    text-align: left;
}

.circular-top {
    border-left: 1em solid #333;
    padding: 2.5em;
    background-color: #63BAAB;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

h3 {
    width: 100%;
}

p {
    font-size: 1.3em;
}