@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.App {
  text-align: center;
  background-color: #FCEAFF;
  color: #FCEAFF;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

h1,h2,h3,h4{
  margin: 0;
  padding: 0;
}

h1{
  font-size: 3em;
  font-style: normal;
  font-weight: normal;
}

h3 {
  font-size: 1.25em;
  font-style: normal;
  font-weight: normal;
}

.navbar-outer {
  width: 100%;
  background: #d7c5eb;
}

.navbar {
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style-type: none;
}

.navbar li {
  padding: 5px 10px 5px 0px;
  margin: 5px;
}

.navbar li a {
  font-size: 1.5em;
  text-decoration: none;
  color: #333;
  border-bottom: 3px dotted #8333FF;
}

.navbar li a:hover {
  text-decoration: none;
  border-bottom: 3px solid#8333FF;
}

.navbar li a:visited {
  color: #333;
}

li:before {
  font-size: 1.5em;
  color: #8333FF;
  content: '\203A ';
  padding-right: 5px;
}

.project-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/**scale font size*/
@media(min-width: 600px) {
  .project-wrapper{
    margin: 50px;
  }

  nav {
    height: 50px;
    display: flex;
    justify-content: center;
  }

  .navbar {
    width: 80%;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .navbar li {
    margin: 0;
    padding: 0;
  }
}

@media(min-width: 1000px) {
  h1{
    font-size: 4.5em;
  }
  h3 {
    font-size: 1.5em;
  }
  .navbar {
    width: 50%;
  }
  .project-wrapper{
    margin: 50px;
  }
}


