@import url('https://fonts.googleapis.com/css?family=Nunito|Roboto&display=swap');

textarea, input, button, select { font-family: inherit; font-size: inherit; }

.App {
  text-align: center;
  background-color: white;
  color: white;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

h1,h2,h3,h4 {
  font-weight: bold;
  font-family: 'Nunito', sans-serif;
}

h1, h3, h4{
  margin: 0;
  padding: 0;
}

h1{
  font-size: 3em;
  font-style: normal;
  font-weight: normal;
}

h2 {
  font-size: 2.5em;
  font-weight: bold;
}

h3 {
  font-size: 1.25em;
  font-style: normal;
  font-weight: normal;
}

.link {
  color: #8333FF;
  text-decoration: none;
}

.link:visited{
  color: rgb(110, 14, 253);
}

.link:hover {
  text-decoration: underline;
}

.link-no-style {
  text-decoration: none;
}

.title-black {
  color: #333;
}

.title-white {
  color: white;
}

.title-underlined {
  text-transform: uppercase;
}

.project-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media(min-width: 1250px) {
  h1{
    font-size: 4.5em;
  }
  h3 {
    font-size: 1.5em;
  }
}


