.banner-wrapper {
    margin: 1.5em auto;
    max-width: 550px;
    padding: 15px;
    border-radius: 9px;
    background-color: #8333FF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-paragraph {
    padding: 0;
    margin: 0;
    text-align: left;
}

.banner-link {
    color: white;
    margin-left: 3px;
    margin-right: 3px;
}

.banner-link:hover {
    color: #ff8f33;
    text-decoration: underline;
}

.banner-link:visited {
    color: 'white';
}

.banner-icon {
    width: 2em;
    height: auto;
    margin-right: 15px;
    filter: invert(1);
}

@media(max-width: 450px) {
    .banner-wrapper {
        margin: 10px;
    }
}