.footer {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    margin-top: 2em;
    position: absolute;
    background-color: #333;
    width: 100%;
    left: 0;
    color: white;
    text-align: left;
}

.footer-wrapper {
    margin: 0 auto;
    max-width: 550px;
    display: flex;
}

.footer-segment {
    margin-right: 4em;
    line-height: 1.5em;
}

.footer-created {
    width: 100%;
    text-align: center;
}

.social-link {
    display: inline-block;
    width: 100%;
    color: rgb(155, 88, 255);
}

.social-link:visited {
    color: rgb(155, 88, 255);
}

@media(max-width: 450px) {
    .footer-wrapper {
        flex-wrap: wrap;
        align-items: center;
    }
    .footer-segment {
        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin: 10px;
    }
}