.navbar  {
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 1;
    background-color: white;
    padding-top: 1em;
    padding-bottom: 1em; 
    text-align: left;
}

.navbar-content{
    margin: 0 auto;
    padding-left: 2em;
    padding-right: 1em;
    max-width: 550px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-links{
    display: flex;
    justify-content: space-around;
}

.navbar-link {
    color: #333;
    margin-left: 1em;
}

.navbar-link:hover {
    text-decoration: 1px underline #333;
}

.hamburger-menu{
    display: inline-block;
    cursor: pointer;
}

.hambuger-menu-open {
    opacity: 0;
}

.line{
    width: 30px;
    height: 5px;
    margin: 3px 0;
    background-color: #333;
    transition: 0.3s;
}

@media(min-width: 550px) {
    .navbar-content{
        padding-left: 0;
        padding-right: 0;
    }
}