.navbar  {
    width: 100%;
    top: 0;
    position: fixed;
    background-color: white;
    padding-top: 1em;
    padding-bottom: 1em; 
    text-align: left;
}

.navbar-content{
    padding-left: 2em;
    padding-right: 1em;
    max-width: 550px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-links{
    display: flex;
    justify-content: space-around;
}

.link {
    margin-left: 1em;
}

.link-grey {
    color: #333;
}

.link-grey:hover {
    text-decoration: 1px underline #333;
}

@media(min-width: 550px) {
    .navbar-content{
        padding-left: 0;
        padding-right: 0;
    }
}